* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainOrange: #f15025;
    --mainWhite: #fafafa;
}

body {
    font-family: 'Righteous', cursive;
    color: var(--mainWhite);
    background: var(--mainOrange);
}