* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainOrange: #f15025;
    --mainWhite: #fafafa;
    --mainBlack: #232526;
    --mainBlue: #004e92;
    --mainYellow: #d2aa5c;
}

body {
    font-family: 'Righteous', cursive;
    color: var(--mainBlack);
    background: var(--mainWhite);
}